<div class="container-base">
  <div class="DivTitlebar">
    <img src="../../../../assets/icones/sistema-form/sistemafinanceiroIcon.jpg" alt="Icone Sistema Financeiro">
    <h1>Cadastro de Sistema Financeiro</h1>
  </div>
  <br>
  <form [formGroup]="form" (submit)="salvar()">
    <div class="row">
      <div class="form-group col-md-6">
        <label for="nome">Sistema</label>
        <input type="text" name="nome" id="nome" placeholder="Nome do Sistema" formControlName="nome">
        <div *ngIf="form.get('nome')?.errors?.['required'] && form.get('nome')?.touched" class="error-message">
          O nome é obrigatório!
        </div>
      </div>

      <div class="form-group col-md-3">
        <label for="anoBase">Ano Base Sistema</label>
        <select name="anoBase" id="anoBase" formControlName="anoBase" (change)="validarAnoBaseNoEvento()">
          <option value="" disabled selected>Selecione um ano</option>
          <option *ngFor="let ano of anosDisponiveis" [value]="ano">{{ ano }}</option>
        </select>
        <div *ngIf="erroAnoBase" class="error-message">
          {{ erroAnoBase }}
        </div>
      </div>

      <div class="form-group col-md-3">
        <label for="dataCadastro">Data Cadastro</label>
        <input type="date" name="dataCadastro" id="dataCadastro" formControlName="dataCadastro" [readonly]="true">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label for="metaAnual">Meta Anual R$:</label>
        <input type="text" name="metaAnual" id="metaAnual" placeholder="Digite a meta anual" formControlName="metaAnual">
        <div *ngIf="form.get('metaAnual')?.errors?.['required'] && form.get('metaAnual')?.touched" class="error-message">
          A meta anual é obrigatória!
        </div>
      </div>
    </div>

    <div class="ViewFooter">
      <br>
      <div class="row">
        <div class="group-btn-row">
          <button type="submit" class="btn-primary" [disabled]="form.invalid">Salvar</button>
          <button type="button" class="btn-cancelar" >Cancelar</button>
          <button type="reset" class="btn-limpar">Limpar</button>
        </div>
      </div>
    </div>
  </form>
</div>
