.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #263238; /* fundo preto */
  color: white; /* texto branco para contraste */
}

.user-info {
  display: flex;
  align-items: center;
}

.user-email {
  margin-right: 15px;
  font-weight: bold;
}

.logout-button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.logout-button:hover {
  background-color: #0056b3;
}

.caminho-rota {
  transition: margin-left 0.3s;
}

.caminho-rota.collapsed {
  margin-left: 200px; /* Ajuste este valor conforme necessário */
}
