<div class="DivTitlebar">
    <h1>Busca de Despesas</h1>
</div>
<br>
<br>
<div class="Opcaonovo">
    <button mat-button (click)="navigateToSistemaFinanceiroCreate()">
        Criar
        <mat-icon>add_circle</mat-icon>
    </button>
</div>
<br>
<div class="row Opcaosfiltro">
    <div class="filter-container">
        <input type="text" (keyup)="applyFilter(getValue($event))" placeholder="Pesquisa de Sistema">
        <input type="date" (change)="filterByDateRange()" placeholder="Data de Inícial" [(ngModel)]="dataInicio">
        <input type="date" (change)="filterByDateRange()" placeholder="Data de Final" [(ngModel)]="dataFim">
        <select (change)="filterBySituacao()" [(ngModel)]="situacao">
            <option value="">Todas</option>
            <option value="pago">Pago</option>
            <option value="pendente">Pendente</option>
        </select>
        <button mat-button (click)="apagarFiltro()">
            Filtrar
            <mat-icon>filter_list_alt</mat-icon>
        </button>
    </div>
</div>
<br>
<br>
<div class="row GridView">
    <table mat-table [dataSource]="dataSource" matSort matSortStart="desc" class="mat-elevation-z8 full-width-table">
        <ng-container matColumnDef="idDespesa">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CODIGO</th>
            <td mat-cell *matCellDef="let despesa" [ngClass]="{'highlight-row': despesa.nome === 'erro'}">{{ despesa.idDespesa }}</td>
        </ng-container>
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>NOME</th>
            <td mat-cell *matCellDef="let despesa">{{ despesa.nome }}</td>
        </ng-container>
        <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
            <td mat-cell *matCellDef="let despesa">{{ despesa.valor }}</td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="action" class="custom-icon-button">
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="EditarSistemaFinanceiro(element)">
                        <mat-icon>edit</mat-icon>
                        <span>Editar</span>
                    </button>
                    <button mat-menu-item (click)="excluirSistemaFinanceiro(element)">
                        <mat-icon>delete</mat-icon>
                        <span>Excluir</span>
                    </button>
                    <button mat-menu-item (click)="excluirSistemaFinanceiro(element)">
                        <mat-icon>payment</mat-icon>
                        <span>Pagar</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row-data"></tr>
    </table>
    <div class="spacing"></div> <!-- Adiciona espaçamento acima do paginator -->
    <mat-paginator class="spacing" [pageSize]="20" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
