<div class="DivTitlebar">
    <h1>Busca de Sistemas Financeiros</h1>
</div>
<div class="row">
    <div class="Opcaonovo">
        <button mat-raised-button (click)="navigateToSistemaFinanceiroCreate()" color="primary">
            Novo
        </button>
    </div>
</div>
<div class="row">
    <div class="Opcaofiltro">
        <div class="md-12">
            <div class="mt-12">
                <input type="text" (keyup)="applyFilter(getValue($event))" placeholder="Pesquisa de Sistema">
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="GridView">
        <div class="md-12">
            <table mat-table [dataSource]="dataSource" matSort matSortStart="desc" class="mat-elevation-z8 table-style">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>CODIGO</th>
                    <td mat-cell *matCellDef="let sistemafinanceiro">{{ sistemafinanceiro.id }}</td>
                </ng-container>
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>NOME</th>
                    <td mat-cell *matCellDef="let sistemafinanceiro">{{ sistemafinanceiro.nome }}</td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>AÇÕES</th>
                    <td mat-cell *matCellDef="let row" class="action-cell">
                        <a routerLink="/Sistema/update/{{ row.id }}" class="edit">
                            <i class="material-icons">edit</i>
                        </a>
                        <a routerLink="/Sistema/update/{{ row.id }}" class="Ferrramenta">
                            <i class="material-icons">build</i>
                        </a>
                        <button class="btn btn-danger" (click)="excluirSistemaFinanceiro(row)" class="delete">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <br>
            <mat-paginator [pageSize]="20" [pageSizeOptions]="[2, 4, 6, 8]"></mat-paginator>
        </div>
    </div>
</div>