<body class="login-page">
  <div class="page">
    <form class="formLogin" [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <h1>Login</h1>
      <p>Digite os seus dados de acesso no campo abaixo.</p>
      <label for="email">E-mail</label>
      <!-- Use formControlName para vincular o controle de email -->
      <input type="email" placeholder="Digite seu e-mail" autofocus="true" formControlName="email">
      <label for="password">Senha</label>
      <!-- Use formControlName para vincular o controle de senha -->
      <input type="password" placeholder="Digite sua senha" formControlName="senha">
      <a href="/">Esqueci minha senha</a>
      <button type="submit" class="btn">Acessar</button>
    </form>
  </div>
</body>
