<ng-container *ngIf="isEmailConfirming; else resetEmailContent">
  <!-- Conteúdo para confirmação de email -->
 <!-- <div>Usuário Confirmation</div>-->
  <app-email-confirmation></app-email-confirmation>
</ng-container>

<ng-template #resetEmailContent>
  <ng-container *ngIf="isResetEmailConfirming; else resetPasswordOrLoggedInContent">
    <!-- Conteúdo para confirmação de reset de email -->
   <!-- <div>Usuário Confirmation</div>-->
    <app-reset-confirmation></app-reset-confirmation>
  </ng-container>
</ng-template>

<ng-template #resetPasswordOrLoggedInContent>
  <ng-container *ngIf="isResetPassword; else loggedInContent">
    <!-- Conteúdo para redefinição de senha -->
   <!-- <div>Resetar Senha</div>-->
    <app-reset-password></app-reset-password>
  </ng-container>

  <ng-template #loggedInContent>
    <ng-container *ngIf="isLoggedIn; else notLoggedInContent">
      <!-- Adicionar o Header para usuários autenticados -->
      <app-header></app-header>
      <app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>
      <app-body [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth">
        <router-outlet></router-outlet>
      </app-body>
    </ng-container>

    <ng-template #notLoggedInContent>
      <ng-container *ngIf="!isRegisteringUserin; else registerScreen">
        <ng-container *ngIf="!isForgotPassword; else forgotPasswordScreen">
          <!-- Conteúdo para usuários não autenticados -->
           <!--<div>Usuário não autenticado Aqui</div>-->
          <app-login></app-login>
        </ng-container>
        <ng-template #forgotPasswordScreen>
          <!-- Conteúdo para redefinição de senha -->
          <app-forgot-password></app-forgot-password>
        </ng-template>
      </ng-container>
      <ng-template #registerScreen>
        <!-- Conteúdo para usuários no processo de registro -->
        <app-login-register></app-login-register>
      </ng-template>
    </ng-template>
  </ng-template>
</ng-template>
