<div class="container-base">
  <form id="expenseForm" class="form-container" [formGroup]="form" (submit)="salvar()">
    <h2>Cadastro de Despesas</h2>
    <br>
    <div class="DivFormGroup">
      <div class="row">
        <div class="form-group col-md-4">
          <div class="group-label-row">
            <label for="name">Nome</label>
            <input type="text" name="name" id="Nome" placeholder="Nome" formControlName="nome" required />
          </div>
        </div>
        <div class="form-group col-md-3">
          <div class="group-label-row">
            <label for="data">Data de Vencimento</label>
            <input type="date" name="data" id="data" placeholder="data" formControlName="data" required />
          </div>
        </div>
        <div class="form-group col-md-3">
          <div class="group-row">
            <mat-slide-toggle class="group-slide" [color]="color" [checked]="checked" [disabled]="disabled"
              (change)="handleChangePago($event)">
              Pago?
            </mat-slide-toggle>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <div class="group-label-row">
            <label for="valor">Valor:</label>
            <input type="text" name="valor" id="valor" placeholder="valor" formControlName="valor" required />
          </div>
        </div>
        <div class="form-group col-md-4">
          <div class="group-label-row">
            <label for="categoria" class="control-label">Categoria</label>
            <select class="form-select" id="categoria" formControlName="categoria">
              <option *ngFor="let categoria of lisCategoriaSistemas" [ngValue]="categoria.id">{{categoria.name}}</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Despesa Recorrente Checkbox -->
      <div class="row">
        <div class="form-group col-md-4">
          <mat-checkbox formControlName="despesaRecorrente" (change)="openDespesaRecorrenteDialog($event.checked)">
            Despesa Recorrente
          </mat-checkbox>
        </div>
      </div>

      <div class="alert alert-danger mt-1" *ngIf="form.invalid && !form.pristine">
        <span *ngIf="form.get('nome')?.errors?.['required']">O Nome é obrigatório!<br></span>
        <span *ngIf="form.get('valor')?.errors?.['required']">O Valor é obrigatório!<br></span>
        <span *ngIf="form.get('categoria')?.errors?.['required']" class="error-message">A Categoria é obrigatória!</span>
        <span *ngIf="form.get('data')?.errors?.['required']" class="error-message">A Data é obrigatória!</span>
      </div>

      <div class="ViewFooter">
        <div class="group-btn-row">
          <input type="submit" value="Salvar" class="btn-primary" />
          <input type="button" value="Cancelar" class="btn-cancelar" (click)="cancelar()" />
          <input type="button" value="Limpar" class="btn-limpar" (click)="cancelar()" />
        </div>
      </div>
    </div>
  </form>
</div>
