@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; /* Título da tela */
  font-size: 24px; /* Tamanho do título */
}

.grid-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; /* Títulos dentro do grid */
  font-size: 14px; /* Tamanho do título do grid */
}

input,
select {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; /* Texto dos inputs */
  font-size: 14px; /* Tamanho do texto do input */
}

/* Variáveis de Cores */
$primary-color: #bebebe; /* Cor principal utilizada para o botão de criar */
$secondary-color: #36515f; /* Cor para o título */
$background-color: #f4f7f9; /* Cor de fundo geral da aplicação */
$table-border-color: #ccd4db; /* Cor das bordas da tabela */
$highlight-color: #e7e1e1; /* Cor das linhas pares da tabela */
$hover-color: #bebebe; /* Cor de fundo ao passar o mouse sobre a tabela */
$strong-line-color: #dbdbdb; /* Cor para linhas mais fortes */
$header-background-color: rgb(245, 245, 245); /* Cor de fundo do cabeçalho da tabela */
$th-background-color: #a3218d; /* Cor de fundo do cabeçalho da tabela */
$header-text-color: #000000; /* Cor do texto no cabeçalho da tabela */
$icon-color: #1976d2; /* Cor para ícones e ações */

/* Estilos Globais */
body {
  font-family: "Poppins", sans-serif; /* Fonte utilizada na aplicação */
  background: $background-color; /* Define a cor de fundo da página */
  font-size: 14px; /* Tamanho da fonte padrão */
}

.container-base {
  padding: 120px; /* Espaçamento interno do contêiner principal */
  background: #ffffff; /* Cor de fundo do contêiner */
  border-radius: 12px; /* Bordas arredondadas do contêiner */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra do contêiner */
  max-width: 1200px; /* Largura máxima do contêiner */
  margin: 20px auto; /* Margem superior/inferior de 20px, centralizado horizontalmente */
}

/* Estilos da Barra de Título */
.DivTitlebar {
  display: flex; /* Usando flexbox para alinhar itens */
  align-items: center; /* Alinhamento vertical dos itens */
  border-bottom: 2px solid $table-border-color; /* Borda inferior */
  padding-bottom: 5px; /* Espaçamento inferior */
  margin-bottom: 15px; /* Margem inferior */
}

.DivTitlebar h1 {
  font-weight: 600; /* Peso da fonte do título */
  color: $secondary-color; /* Cor do título */
  margin: 0; /* Remove margens padrão */
}

/* Estilo do Botão de Criar */
.Opcaonovo {
  justify-content: flex-end; /* Alinhamento à direita */
  font-size: 14px; /* Tamanho da fonte */
  height: auto; /* Altura automática */
  display: flex; /* Usando flexbox */
  align-items: left; /* Alinhamento à esquerda */
  justify-content: left; /* Justificativa à esquerda */
}

/* Estilos dos Filtros */
.Opcaosfiltro {
  display: flex; /* Usando flexbox para organizar os filtros */
  flex-wrap: wrap; /* Permite quebrar linhas */
  gap: 15px; /* Espaçamento entre os filtros */
}

.filter-container {
  display: flex; /* Usando flexbox */
  align-items: center; /* Alinhamento vertical dos itens */
  gap: 10px; /* Espaçamento entre itens */
  width: 60%; /* Largura total do contêiner */

  input[type="text"] {
    flex: 2; /* O campo de pesquisa ocupa mais espaço */
    padding: 10px 15px; /* Espaçamento interno dos campos */
    border: 1px solid #ccc; /* Borda dos campos */
    border-radius: 5px; /* Bordas arredondadas */
  }

  select {
    flex: 0.5; /* Diminui a largura do filtro de situação */
    min-width: 120px; /* Define uma largura mínima para manter usabilidade */
    padding: 10px 15px; /* Espaçamento interno do select */
    border: 1px solid #ccc; /* Borda do select */
    border-radius: 5px; /* Bordas arredondadas */
  }

  button {
    margin-left: 10px; /* Espaçamento à esquerda do botão */
  }
}

/* Rolagem para a Tabela */
.scrollable-container {
  max-height: 400px; /* Altura máxima da tabela */
  overflow-y: auto; /* Rolagem vertical */
  overflow-x: auto; /* Rolagem horizontal */
  margin-bottom: 20px; /* Espaçamento entre a tabela e o paginador */
  width: 100%; /* Largura total da tabela */
}

/* Personalização da Barra de Rolagem */
.scrollable-container::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: $primary-color; /* Cor do polegar da barra de rolagem */
  border-radius: 4px; /* Bordas arredondadas do polegar */
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Cor de fundo da trilha da barra de rolagem */
}

/* Estilos da Tabela */
table {
  width: 100%; /* Largura total da tabela */
  border-collapse: collapse; /* Remove espaços entre as bordas das células */
  border-spacing: 0; /* Remove espaços entre as células */
  border: none; /* Sem bordas externas */
}

th,
td {
  padding: 10px 15px; /* Espaçamento interno das células */
  text-align: left; /* Alinhamento do texto à esquerda */
  font-size: 14px; /* Tamanho da fonte nas células */
  line-height: 1.5; /* Altura da linha */
  border: 1px solid $table-border-color; /* Borda em todos os lados das células */
}

table .header-row th {
  background-color: $header-background-color; /* Fundo do cabeçalho */
  color: $header-text-color; /* Cor do texto no cabeçalho */
}

/* Estilo do Cabeçalho da Tabela */
thead tr {
  border-bottom: 1px solid $strong-line-color; /* Borda inferior mais forte para cabeçalho */
}

/* Mantém a borda inferior nas linhas */
tr:first-child td {
  border-top: 1px solid $strong-line-color !important; /* Borda superior para a primeira linha */
}

tr:last-child td {
  border-bottom: 1px solid $strong-line-color !important; /* Borda inferior para a última linha */
}

tr:nth-child(even) {
  background-color: $highlight-color; /* Cor de fundo para linhas pares */
}

tr:hover {
  background-color: $hover-color; /* Cor de fundo ao passar o mouse */
  // border-left: 4px solid $icon-color; /* Borda ao passar o mouse */
}

/* Estilos de Ação */
.action-cell {
  display: flex; /* Usando flexbox para alinhar ações */
  gap: 8px; /* Espaçamento entre ações */
  justify-content: flex-start; /* Justificação à esquerda */
}

.action-cell a,
.action-cell button {
  background: none; /* Sem fundo */
  border: none; /* Sem bordas */
  cursor: pointer; /* Cursor em forma de ponteiro */
  font-size: 16px; /* Tamanho da fonte das ações */
  color: $icon-color; /* Cor das ações */
}

.action-cell a:hover,
.action-cell button:hover {
  color: darken($icon-color, 10%); /* Cor ao passar o mouse sobre ações */
}

/* Estilos do Paginador */
.paginator-container {
  display: flex; /* Usando flexbox para alinhar o paginador */
  justify-content: flex-end; /* Alinha o paginador à direita */
  width: 100%; /* Largura total do contêiner do paginador */
}

/* Estilos de Botões de Ação */
.custom-icon-button {
  background: none; /* Sem fundo */
  border: none; /* Sem bordas */
  padding: 0; /* Sem preenchimento */
  margin: 0; /* Sem margens */
  width: auto; /* Largura automática */
  height: auto; /* Altura automática */
  line-height: 1; /* Altura da linha */

  .mat-icon {
    font-size: 24px; /* Tamanho do ícone */
    color: $icon-color; /* Cor do ícone */
  }

  &:hover {
    background: none; /* Sem fundo ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho do ícone ao passar o mouse */
  }
}
