/* Use as cores do sidenav para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

table th {
    background-color: #263238; /* Cor de fundo do sidenav */
    color: white;
    text-align: center;
    padding: 10px; /* Aumente o espaçamento para melhor legibilidade */
}

table th, td {
    padding: 10px; /* Aumente o espaçamento para melhor legibilidade */
    text-align: center; /* Centralize o texto nas células */
}

/* Classe para centralizar o conteúdo nas células */
.center {
    text-align: center;
}

/* Classe para os botões de operações */
.Opcaonovo {
    display: flex;
    align-items: right;
    justify-content: right;
    padding: 10px; /* Aumente o espaçamento para melhor legibilidade */
}

.edit {
    margin-right: 10px;
}

.edit>i {
    color: #d9cd26;
}

.delete>i {
    color: #e35e6b;
}
